EXPO_PUBLIC_SUPABASE_URL=https://pnluhkfzxtprnpwwcrlq.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=ใส่_anon_public_key_ของ_projekt
EXPO_PUBLIC_AI_ENDPOINT=https://pnluhkfzxtprnpwwcrlq.supabase.co/functions/v1/titan9
